<!DOCTYPE html>

<html lang="en" class="h-100">
  <head>
    <title>Main Page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
  </head>
  <body class="d-flex flex-column h-100">
  <header style="margin-bottom: 3.5em;">
  <!-- Fixed navbar -->
  <nav style="background-color: #1e82f5;" class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul style="font-size: 1.5em;" class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Main Page <span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/teams">Teams<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/players">Players</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/stats">Stats</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="/plays">Plays</a>
        </li>
      </ul>
    </div>
  </nav>
</header>



<br>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="teamstatics" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Team Statistics
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/stats/team/4dc4q">4th Down Conversions in 4th</a>
      <a class="dropdown-item" href="/stats/team/tfl">Tackles For Loss</a>
  </div>
</div>

<br>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Player Statistics
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  </div>
</div>

<!-- <br>
  <table class="table table-dark">
    <thead>
      <tr>  
        {% for field in fields %}
            <th scope="col">{{field}}</th> 
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <div id="demo">
        {% for team in query%}
        <tr>
                <td>{{team.teamname}}</td>
                <td>{{team.avg}}</td>
        </tr>
        {% endfor %}
      </div>
      <tr>
    </tbody>
  </table>


  <html> -->


<script>
  window.onload = function () {
    
  var chart2 = new CanvasJS.Chart("chartContainer", {
    animationEnabled: false,
    title:{
      text:"{{fields[0]}} vs {{fields[1]}}, (Out of total TFLS in league)",
      fontSize: 30,
    },
    height:750,
    axisX:{
      interval: 1,
      labelFontSize: 20,
      title: "{{fields[0]}}",
    },
    axisY2:{
      interlacedColor: "rgba(1,77,101,.2)",
      gridColor: "rgba(1,77,101,.1)",
      titleFontSize: 20,
      labelFontSize: 11,
      title: "{{fields[1]}}",
      
    },
    data: [{
      type: "pie",
      name: "{{fields[0]}}",
      dataPoints: [
      {% for team in query%}
        { y: {{team.avg}},  label: "{{team.teamname}}" },
      {% endfor %}
      ]
    }]
  });
  chart2.render();
  }
  </script>
  </head>
  <body>
  <div id="chartContainer" style="height: 370px; width: 100%;"></div>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>